<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>transfert d'argent en ligne</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      body{
        background-color:rgb(234, 236, 236);
        display:flex;
        flex-direction: row;
      }

    </style>

</head>

<body >
  
  <div>
    <nav style="background: rgb(252, 252, 252);padding: 8px; height: 100vh;">
      <ul style="display: flex;flex-direction: column; list-style-type: none;gap:40px;justify-content:center; align-items: center;margin-right: 20px;">
        <li><h4 style="text-align:center">Transfert d'argent <br>en ligne</h4></li>
        <li><a href="/clients" style="text-decoration:none;list-style-type:none; color:black;">Client</a></li>
        <li><a href="/taux" style="list-style-type:none;text-decoration:none; color:black; ">Taux</a></li>
        <li><a href="/transfert" style="list-style-type:none;text-decoration:none; color:green;font-weight:bold ;">Transaction</a></li>
        <li><a href="/frais" style="list-style-type:none;text-decoration:none;color:black;">Frais</a></li>

      </ul>
    </nav>
  </div>

  <div class="container">
    <h4 class="text-center" style="font-weight:bold;text-align:center ; margin-top: 25px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">TRANSFERT</h4>

    <div style="display: flex; flex-direction:row; justify-content:space-between">
      <div style="position: relative;">
        <a class="btn btn-primary" href="/clients">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
          </svg>
        </a>
        <a class="btn btn-info" href="/transfert">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
          </svg>
        </a>    
      </div>

      <div style="display: flex; flex-direction:column; justify-content:flex-start; border: 1px grey solid; border-radius: 5PX; padding: 10px;">
        <div>
          <h6 style="text-decoration: underline; font-weight: bold; margin-bottom: 5px;">Opérations:</h6>
        </div>
          <div class="row">
            <div class="col-8 d-flex ">
                <form method="get" action="/recherchertransfert"  >
                    <div style="display: flex; align-items:center;">
                        <input type="date"  name="query"  placeholder="Rechercher par date (yyyy-MM-dd)" style="margin-bottom:10px ; padding:5px ;width: 20vw;border-radius: 8px; border: none; border-style: none;">
                        <button type="submit" class="btn btn-primary ms-3">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                          </svg>
                        </button>
    
                    </div>
                </form>
            </div>
            
          </div>
          <div style="display:flex; ">
            <form action="/generer-pdf" method="get">
                <input type="text" required name="numtel" th:value="${numtel}" style="border-radius: 5px; border:none; width:7.2cm; padding: 6.5px;;" />
                <button type="submit" class="btn btn-danger ms-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                  </svg>
                </button>
            </form>
        </div>
      
      </div>

    </div>

    <table class="table table-striped table-hover" style="margin-top:25px ;">
      <thead>
        <tr>
          <th  style="background-color:rgb(27, 92, 92);">idenvoye</th>
          <th  style="background-color:rgb(27, 92, 92);">numero envoyeur</th>
          <th  style="background-color:rgb(27, 92, 92);">numero recepteur</th>
          <th  style="background-color:rgb(27, 92, 92);">date </th>
          <th  style="background-color:rgb(27, 92, 92);">Montant</th>
          <th  style="background-color:rgb(27, 92, 92);">Montant converti</th>
          <th  style="background-color:rgb(27, 92, 92);">frais de transfert</th>
          <th  style="background-color:rgb(27, 92, 92);">Raison</th>
          <th  style="background-color:rgb(27, 92, 92);">Action</th>
          
        </tr>
      </thead>
      <tbody>

        <tr th:each="transfert : ${transferts}">
          <td th:text="${transfert.idEnv}"></td>
          <td th:text="${transfert.envoyeur.numtel}"></td>
          <td th:text="${transfert.recepteur.numtel}"></td>
          <td th:text="${transfert.date}"></td>
          <td th:text="${transfert.montant}"></td>
          <td th:text="${transfert.montantConverti}"></td>
          <td th:text="${transfert.fraisDeTransfert}"></td>
          <td th:text="${transfert.raison}"></td>

          
           <td style="white-space:nowrap ;">                  
                    <a class="btn btn-success btn-sm" th:href="@{/modifiertransfert(idEnv=${transfert.idEnv})}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                      </svg>

                    </a>           
                    <a class="btn btn-danger btn-sm" th:href="@{/supprimertransfert(idEnv=${transfert.idEnv})}" onclick="return confirm('cette action est irreversible')">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                      </svg>

                    </a>           
          </td> 
                
        </tr>
      </tbody>
      
    </table>
    <div style="display:flex;flex-direction:row;gap:5px">
      
        <div style="font-weight: bold;font-style: italic;text-decoration: underline;">Somme des frais :</div>
        <div style="font-weight: bold;" th:text="${sommeFrais}"></div>
     
    </div>
    
    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>